.combo-box-base {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-color:  #eaeaea #eaeaea #d5d5d5 #eaeaea;
    -fx-border-radius: 5 0 0 5;
    -fx-border-width: 1 0 1 1;
    -fx-font-family: 'Segoe UI';
    -fx-font-size: 16;
    -fx-text-fill: #1b1b1b;
}

.combo-box .text-input {
    -fx-background-color: transparent;
}

.combo-box .arrow-button {
    -fx-background-color: transparent;
}

.combo-box .arrow {
    -fx-background-color: transparent;
}

.combo-box:hover {
    -fx-background-color: #fafafa;
}

.combo-box:pressed {
    -fx-background-color: #fcfcfc;
    -fx-border-color: #eaeaea;
}

combo-box .list-view {
    -fx-background-color: #f9f9f9;
    -fx-background-radius: 5;
}

.combo-box .combo-box-popup .list-cell {
    -fx-background-color: #f9f9f9;
    -fx-background-radius: 5;
    -fx-padding: 10;
    -fx-background-insets: 2 3 2 3;
}

.combo-box .combo-box-popup .list-cell:hover, .combo-box .combo-box-popup .list-cell:selected, .button:hover {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #1b1b1b;
}

.combo-box .combo-box-popup .list-cell:pressed, .button:pressed {
    -fx-background-color: #f3f3f3;
    -fx-text-fill: #767676;
}

.combo-box:focused {
    -fx-border-width: 1 0 2 1;
    -fx-border-color: #eaeaea #eaeaea #8e7b60 #eaeaea;
}

.button {
    -fx-background-color: white;
    -fx-background-radius: 0 5 5 0;
    -fx-border-color:  #eaeaea #eaeaea #d5d5d5 #eaeaea;
    -fx-border-radius: 0 5 5 0;
    -fx-border-width: 1 1 1 0;
}