.text-field {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
    -fx-border-style: solid outside;
    -fx-border-color: #eaeaea #eaeaea #d5d5d5 #eaeaea;
    -fx-border-radius: 5;
    -fx-border-width: 1;
}

.text-field:hover {
    -fx-background-color: #fcfcfc;
}

.text-field:focused {
    -fx-border-width: 1 1 2 1;
    -fx-border-color: #eaeaea #eaeaea #8e7b60 #eaeaea;
}

