.forum-bubble {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: #eaeaea;
    -fx-border-radius: 10;
}

.forum-bubble:hover {
    -fx-background-color: #f5f5f5;
}

.forum-bubble:pressed {
    -fx-background-color: #e5e5e5;
}