.tag-label {
    -fx-background-color: #605341;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-padding: 3 12 3 12;
}

.tag-label:hover {
    -fx-background-color: #4f4436;
}

.tag-label:pressed {
    -fx-background-color: #5d503f;
}